<div class="panel-body">
    <fieldset style="text-align: center;">
        <div class="row">
            <div class="col-md-6">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Occupation">
                        Aadhar No :
                    </label>
                    <div class="col-md-6">
                        <input name="physic" type="text" id="physic" value="" maxlength="20" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Occupation">
                        E-mail ID :
                    </label>
                    <div class="col-md-6">
                        <input name="email" type="text" id="email2" value="" size="30" maxlength="100" class="form-control">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="creationdate">
                        Mobile For SMS Alert :
                    </label>
                    <div class="col-md-6">
                        <input name="phone" type="text" id="phone2" value="" maxlength="10" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="creationdate">
                        Phone I :
                    </label>
                    <div class="col-md-6">
                        <input name="mobile" type="text" id="mobile" value="" maxlength="15" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="address1">
                        Residence Address With City :
                    </label>
                    <div class="col-md-6">
                        <textarea name="address1" cols="25" rows="5" id="textarea" class="form-control" style="height: 118px;">                                      </textarea>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Mobile">
                        Mobile II :
                    </label>
                    <div class="col-md-6">
                        <input name="phone2" type="text" id="zipcode2" value="" style="" maxlength="11" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Mobile">
                        Phone II :
                    </label>
                    <div class="col-md-6">
                        <input name="mobile2" type="text" id="mobile2" value="" style="" maxlength="11" class="form-control input-md">
                    </div>
                </div><div class="clear"></div>
            </div><a class="btn btn-success collapsed" href="#collapseThirteen" data-toggle="collapse" data-parent="#accordion" style="width: 150px;" aria-expanded="false">
                Next
            </a>
        </div>

    </fieldset>
</div>
