<div class="panel-body">
    <fieldset style="text-align: center;">
        <div class="row">
            <div class="col-md-6">
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="goatra1">
                        Rashi :
                    </label>
                    <div class="col-md-6">
                        <select size="1" name="goatra1" class="form-control">
                            <option value="Unspecified" selected="selected">
                                Unspecified
                            </option>
                            <option value="Mesh">
                                Mesh
                            </option>
                            <option value="Vrushabh">
                                Vrushabh
                            </option>
                            <option value="mithun">
                                Mithun
                            </option>
                            <option value="kark">
                                Kark
                            </option>
                            <option value="sinha">
                                Sinha
                            </option>
                            <option value="kanya">
                                Kanya
                            </option>
                            <option value="tula">
                                Tula
                            </option>
                            <option value="vrischik">
                                Vrischik
                            </option>
                            <option value="dhanu">
                                Dhanu
                            </option>
                            <option value="makar">
                                Makar
                            </option>
                            <option value="kumbh">
                                Kumbh
                            </option>
                            <option value="meen">
                                Meen
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="goatra3">
                        Charan :
                    </label>
                    <div class="col-md-6">
                        <select size="1" name="goatra3" class="form-control">
                            <option value="Unspecified" selected="selected">
                                Unspecified
                            </option>
                            <option value="1">
                                1
                            </option>
                            <option value="2">
                                2
                            </option>
                            <option value="3">
                                3
                            </option>
                            <option value="4">
                                4
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="goatra4">
                        Nadi :
                    </label>
                    <div class="col-md-6">
                        <select size="1" name="goatra4" class="form-control">
                            <option value="Unspecified" selected="selected">
                                Unspecified
                            </option>
                            <option value="Adhya">
                                Adhya
                            </option>
                            <option value="Madhya">
                                Madhya
                            </option>
                            <option value="Antya">
                                Antya
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="creationdate">
                        Birth Place :
                    </label>
                    <div class="col-md-6">
                        <input name="bplace1" class="form-control input-md" type="text" id="bplace2" value="" style="" maxlength="25" placeholder="Birth Place">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Subcast">
                        Mangal :
                    </label>
                    <div class="col-md-6">
                        <select name="mangal" id="select18" class="form-control">
                            <option value="Yes">
                                Yes
                            </option>
                            <option value="No" selected="selected">
                                No
                            </option>
                            <option value="Saumya">
                                Saumya
                            </option>
                            <option value="Nirdosh">
                                Nirdosh
                            </option>
                            <option value="Not Known">
                                Not Known
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="goatra2">
                        Nakshtra :
                    </label>
                    <div class="col-md-6">
                        <select size="1" name="goatra2" class="form-control">
                            <option value="Unspecified" selected="selected">
                                Unspecified
                            </option>
                            <option value="Ashwini">
                                Ashwini
                            </option>
                            <option value="Ardra">
                                Ardra
                            </option>
                            <option value="Aslesha">
                                Aslesha
                            </option>
                            <option value="Anuradha">
                                Anuradha
                            </option>
                            <option value="Bharani">
                                Bharani
                            </option>
                            <option value="Chitra">
                                Chitra
                            </option>
                            <option value="Dhanishta">
                                Dhanishta
                            </option>
                            <option value="Hasta">
                                Hasta
                            </option>
                            <option value="Jyeshta">
                                Jyeshta
                            </option>
                            <option value="Krittika">
                                Krittika
                            </option>
                            <option value="Moola">
                                Moola
                            </option>
                            <option value="Magha">
                                Magha
                            </option>
                            <option value="Mrigasira">
                                Mrigasira
                            </option>
                            <option value="Pushya">
                                Pushya
                            </option>
                            <option value="Purva Phalgini">
                                Purva Phalgini
                            </option>
                            <option value="Purva Bhadra">
                                Purva Bhadra
                            </option>
                            <option value="Purva Shadha">
                                Purva Shadha
                            </option>
                            <option value="Punarvasu">
                                Punarvasu
                            </option>
                            <option value="Rohini">
                                Rohini
                            </option>
                            <option value="Swati">
                                Swati
                            </option>
                            <option value="Revati">
                                Revati
                            </option>
                            <option value="Shattarka">
                                Shattarka
                            </option>
                            <option value="Shravan">
                                Shravan
                            </option>
                            <option value="Uttara Phalguni">
                                Uttara Phalguni
                            </option>
                            <option value="Uttara Bhadra">
                                Uttara Bhadra
                            </option>
                            <option value="Uttara Shadha">
                                Uttara Shadha
                            </option>
                            <option value="Vishakha">
                                Vishakha
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="goatra5">
                        Gan :
                    </label>
                    <div class="col-md-6">
                        <select size="1" name="goatra5" class="form-control">
                            <option value="Unspecified" selected="selected">
                                Unspecified
                            </option>
                            <option value="Dev Gan">
                                Dev Gan
                            </option>
                            <option value="Manushya Gan">
                                Manushya Gan
                            </option>
                            <option value="Rakshas Gan">
                                Rakshas Gan
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Height">
                        Birth Time :
                    </label>
                    <div class="col-md-2">
                        <select name="bplace2" id="income3" class="form-control">
                            <option value="01">
                                01
                            </option>
                            <option value="02">
                                02
                            </option>
                            <option value="03">
                                03
                            </option>
                            <option value="04">
                                04
                            </option>
                            <option value="05">
                                05
                            </option>
                            <option value="06">
                                06
                            </option>
                            <option value="07">
                                07
                            </option>
                            <option value="08">
                                08
                            </option>
                            <option value="09">
                                09
                            </option>
                            <option value="10">
                                10
                            </option>
                            <option value="11">
                                11
                            </option>
                            <option value="12">
                                12
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select name="bplace3" id="income4" class="form-control">
                            <option value="00">
                                00
                            </option>
                            <option value="01">
                                01
                            </option>
                            <option value="02">
                                02
                            </option>
                            <option value="03">
                                03
                            </option>
                            <option value="04">
                                04
                            </option>
                            <option value="05">
                                05
                            </option>
                            <option value="06">
                                06
                            </option>
                            <option value="07">
                                07
                            </option>
                            <option value="08">
                                08
                            </option>
                            <option value="09">
                                09
                            </option>
                            <option value="10">
                                10
                            </option>
                            <option value="11">
                                11
                            </option>
                            <option value="12">
                                12
                            </option>
                            <option value="13">
                                13
                            </option>
                            <option value="14">
                                14
                            </option>
                            <option value="15">
                                15
                            </option>
                            <option value="16">
                                16
                            </option>
                            <option value="17">
                                17
                            </option>
                            <option value="18">
                                18
                            </option>
                            <option value="19">
                                19
                            </option>
                            <option value="20">
                                20
                            </option>
                            <option value="21">
                                21
                            </option>
                            <option value="22">
                                22
                            </option>
                            <option value="23">
                                23
                            </option>
                            <option value="24">
                                24
                            </option>
                            <option value="25">
                                25
                            </option>
                            <option value="26">
                                26
                            </option>
                            <option value="27">
                                27
                            </option>
                            <option value="28">
                                28
                            </option>
                            <option value="29">
                                29
                            </option>
                            <option value="30">
                                30
                            </option>
                            <option value="31">
                                31
                            </option>
                            <option value="32">
                                32
                            </option>
                            <option value="33">
                                33
                            </option>
                            <option value="34">
                                34
                            </option>
                            <option value="35">
                                35
                            </option>
                            <option value="36">
                                36
                            </option>
                            <option value="37">
                                37
                            </option>
                            <option value="38">
                                38
                            </option>
                            <option value="39">
                                39
                            </option>
                            <option value="40">
                                40
                            </option>
                            <option value="41">
                                41
                            </option>
                            <option value="42">
                                42
                            </option>
                            <option value="43">
                                43
                            </option>
                            <option value="44">
                                44
                            </option>
                            <option value="45">
                                45
                            </option>
                            <option value="46">
                                46
                            </option>
                            <option value="47">
                                47
                            </option>
                            <option value="48">
                                48
                            </option>
                            <option value="49">
                                49
                            </option>
                            <option value="50">
                                50
                            </option>
                            <option value="51">
                                51
                            </option>
                            <option value="52">
                                52
                            </option>
                            <option value="53">
                                53
                            </option>
                            <option value="54">
                                54
                            </option>
                            <option value="55">
                                55
                            </option>
                            <option value="56">
                                56
                            </option>
                            <option value="57">
                                57
                            </option>
                            <option value="58">
                                58
                            </option>
                            <option value="59">
                                59
                            </option>

                        </select>
                    </div>
                    <div class="col-md-2">
                        <select name="bplace4" id="income5" class="form-control">
                            <option value="AM" selected="selected">
                                AM
                            </option>
                            <option value="PM">
                                PM
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="creationdate">
                        Gotra / Devak :
                    </label>
                    <div class="col-md-6">
                        <input name="goatra" type="text" id="goatra" value="" style="width:;" size="50" maxlength="50" class="form-control" placeholder="">
                    </div>
                </div>
            </div><div class="clear"></div>
            <a class="btn btn-success collapsed" href="#collapseEleven" data-toggle="collapse" data-parent="#accordion" style="width: 150px;" aria-expanded="false">
                Next
            </a>
        </div>

    </fieldset>
</div>
