<div class="panel-body">
    <fieldset>
        <div class="row" style="text-align: center;">
            <div class="col-md-6">
                <!-- Text input -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="status">
                        First Name :
                    </label>
                    <div class="col-md-6">
                        <input name="firstname" placeholder="First Name" class="form-control" type="text" value="" id="firstname2" maxlength="25">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="creationdate">
                        Last Name :
                    </label>
                    <div class="col-md-6">
                        <input name="lastname" value="" class="form-control" placeholder="Last Name" type="text" id="lastname3" style="" maxlength="30">
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Subcast">
                        Sub Cast :
                    </label>
                    <div class="col-md-6">
                        <select name="subcast" id="select3" class="form-control">
                            <option value="Deshmukh">
                                Deshmukh
                            </option>
                            <option value="96 Kuli" selected="selected">
                                96 Kuli
                            </option>
                            <option value="Maratha">
                                Maratha
                            </option>
                            <option value="kunbi">
                                kunbi
                            </option>
                            <option value="Deshmukh Maratha">
                                Deshmukh Maratha
                            </option>
                            <option value="96 Kuli Maratha">
                                96 Kuli Maratha
                            </option>
                            <option value="Tirale kunbi">
                                Tirale kunbi
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Height">
                        Height :
                    </label>
                    <div class="col-md-3">
                        <select name="ft" class="form-control">
                            <option value="04">
                                4
                            </option>
                            <option value="05" selected="selected">
                                5
                            </option>
                            <option value="06">
                                6
                            </option>
                            <option value="07">
                                7
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="inch" id="inch" class="form-control">
                            <option value="00">
                                00
                            </option>
                            <option value="01">
                                01
                            </option>
                            <option value="02">
                                02
                            </option>
                            <option value="03">
                                03
                            </option>
                            <option value="04" selected="selected">
                                04
                            </option>
                            <option value="05">
                                05
                            </option>
                            <option value="06">
                                06
                            </option>
                            <option value="07">
                                07
                            </option>
                            <option value="08">
                                08
                            </option>
                            <option value="09">
                                09
                            </option>
                            <option value="10">
                                10
                            </option>
                            <option value="11">
                                11
                            </option>

                        </select>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Subcast">
                        Blood Group :
                    </label>
                    <div class="col-md-6">
                        <select name="bloodgr" id="select4" class="form-control">
                            <option value="A+">
                                A+
                            </option>
                            <option value="A-">
                                A-
                            </option>
                            <option value="B+">
                                B+
                            </option>
                            <option value="B-">
                                B-
                            </option>
                            <option value="AB+">
                                AB+
                            </option>
                            <option value="AB-">
                                AB-
                            </option>
                            <option value="O+">
                                O+
                            </option>
                            <option value="O-">
                                O-
                            </option>
                            <option value="--">
                                Don't Know
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="	col-md-4 control-label" for="Subcast">
                        Physical Disablities :
                    </label>
                    <div class="col-md-6">
                        <select name="abnormality" id="select16" class="form-control">
                            <option value="No" selected="selected">
                                No
                            </option>
                            <option value="Yes">
                                Yes
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="creationdate">
                        If Yes, Please Specify :
                    </label>
                    <div class="col-md-6">
                        <input name="nakshatra" class="form-control input-md" placeholder="" type="text" id="nakshatra" size="60" maxlength="50">
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Subcast">
                        Spectacles :
                    </label>
                    <div class="col-md-6">
                        <select name="specs" class="form-control">
                            <option value="No" selected="selected">
                                No
                            </option>
                            <option value="Yes">
                                Yes
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Textarea -->
                <!-- <div class="form-group">
                <label class="col-md-4 control-label" for="internalreferencenumber">Internal reference number</label>
                <div class="col-md-6">
                <textarea name="internalreferencenumber" class="form-control" id="internalreferencenumber">Read-only</textarea>
                </div>
                </div> -->
            </div>
            <div class="col-md-6">
                <!-- Text input -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="status">
                        Middle Name :
                    </label>
                    <div class="col-md-6">
                        <input name="mname" class="form-control input-md" value="" type="text" id="mname3" style="" maxlength="25" placeholder="Middle Name">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Height">
                        DOB :
                    </label>
                    <div class="col-md-2">
                        <select name="dd" id="dd" class="form-control">
                            <option value="0">
                                DD
                            </option>
                            <option value="1">
                                1
                            </option>
                            <option value="2">
                                2
                            </option>
                            <option value="3">
                                3
                            </option>
                            <option value="4">
                                4
                            </option>
                            <option value="5">
                                5
                            </option>
                            <option value="6">
                                6
                            </option>
                            <option value="7">
                                7
                            </option>
                            <option value="8">
                                8
                            </option>
                            <option value="9">
                                9
                            </option>
                            <option value="10">
                                10
                            </option>
                            <option value="11">
                                11
                            </option>
                            <option value="12">
                                12
                            </option>
                            <option value="13">
                                13
                            </option>
                            <option value="14">
                                14
                            </option>
                            <option value="15">
                                15
                            </option>
                            <option value="16">
                                16
                            </option>
                            <option value="17">
                                17
                            </option>
                            <option value="18">
                                18
                            </option>
                            <option value="19">
                                19
                            </option>
                            <option value="20">
                                20
                            </option>
                            <option value="21">
                                21
                            </option>
                            <option value="22">
                                22
                            </option>
                            <option value="23">
                                23
                            </option>
                            <option value="24">
                                24
                            </option>
                            <option value="25">
                                25
                            </option>
                            <option value="26">
                                26
                            </option>
                            <option value="27">
                                27
                            </option>
                            <option value="28">
                                28
                            </option>
                            <option value="29">
                                29
                            </option>
                            <option value="30">
                                30
                            </option>
                            <option value="31">
                                31
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select name="mm" id="mm" class="form-control">
                            <option value="0">
                                MM
                            </option>
                            <option value="1">
                                1
                            </option>
                            <option value="2">
                                2
                            </option>
                            <option value="3">
                                3
                            </option>
                            <option value="4">
                                4
                            </option>
                            <option value="5">
                                5
                            </option>
                            <option value="6">
                                6
                            </option>
                            <option value="7">
                                7
                            </option>
                            <option value="8">
                                8
                            </option>
                            <option value="9">
                                9
                            </option>
                            <option value="10">
                                10
                            </option>
                            <option value="11">
                                11
                            </option>
                            <option value="12">
                                12
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select name="yy" id="yy" class="form-control">
                            <option value="0">
                                YYYY
                            </option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                        </select>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Subcast">
                        Maritial Status :
                    </label>
                    <div class="col-md-6">
                        <select name="user_type" id="user_type" class="form-control">
                            <option value="1" class="leftmenu" selected="selected">
                                Unmarried Boy
                            </option>
                            <option value="2" class="leftmenu">
                                Unmarried Girl
                            </option>
                            <option value="3" class="leftmenu">
                                Divorcee Boy / Widower
                            </option>
                            <option value="4" class="leftmenu">
                                Divorcee Girl / Widow
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Subcast">
                        Weight :
                    </label>
                    <div class="col-md-6">
                        <select name="weight" id="weight" class="form-control">
                            <option value="--">
                                N/A
                            </option>
                            <option value="199">
                                199
                            </option>
                            <option value="200">
                                200
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Subcast">
                        Complexion :
                    </label>
                    <div class="col-md-6">
                        <select name="complexion" id="select13" class="form-control">
                            <option value="FAIR">
                                FAIR
                            </option>
                            <option value="GORA">
                                GORA
                            </option>
                            <option value="SAWALA">
                                SAWALA
                            </option>
                            <option value="GAVHAL">
                                GAVHAL
                            </option>
                            <option value="NIMGORA">
                                NIMGORA
                            </option>
                            <option value="BLACK">
                                BLACK
                            </option>
                            <option value="GORA,SMART">
                                GORA,SMART
                            </option>
                            <option value="FAIR,SMART">
                                FAIR,SMART
                            </option>
                            <option value="GAVHAL,SMART">
                                GAVHAL,SMART
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Subcast">
                        Diet :
                    </label>
                    <div class="col-md-6">
                        <select name="diet" id="select11" class="form-control">
                            <option value="N/A" selected="selected">
                                N/A
                            </option>
                            <option value="Vegetarian">
                                Vegetarian
                            </option>
                            <option value="Non Vegetarian">
                                Non Vegetarian
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Subcast">
                        Lens :
                    </label>
                    <div class="col-md-6">
                        <select name="lens" id="lens" class="form-control">
                            <option value="No" selected="selected">
                                No
                            </option>
                            <option value="Yes">
                                Yes
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="creationdate">
                        Personality :
                    </label>
                    <div class="col-md-6">
                        <input name="personality" class="form-control input-md" value="" type="text" id="personality2" style="" maxlength="50">
                    </div>
                </div>
            </div><div class="clear"></div>
            <a class="btn btn-success" href="#collapseTen" data-toggle="collapse" data-parent="#accordion" style="width: 150px;">
                Next
            </a>
        </div>
    </fieldset>
</div>
