@{
    ViewBag.Title = "Event 01";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>रेशीमगाठी मराठा वधु-वर सुचक केंद्र</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="My Wedding Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    @Styles.Render("~/Base/css")
    @Scripts.Render("~/Base/js")
    <script type="text/javascript">
	function loadMemories(file, callback) {
	    var rawFile = new XMLHttpRequest();
	    rawFile.overrideMimeType("application/json");
	    rawFile.open("GET", file, true);
	    rawFile.onreadystatechange = function() {
	        if (rawFile.readyState === 4 && rawFile.status == "200") {
	            callback(rawFile.responseText);
	        }
	    }
    	rawFile.send(null);
	}

//usage:
    loadMemories("/images/json/ZuXeiFiGoTAukdrRA.json", function(text){
    var parent = null;
    var data = JSON.parse(text);
    //console.log(data);
    var photoGridForm = "";
    for(var i=0; i<data.Photos.length;i=i+3)
    {
    	photoGridForm = "<div class='gallery-grids'>";

    	photoGridForm += "<div class='col-md-4 gallery-grid'><div class='gallery-grd'><a class='swipebox' href='"+data.Photos[i].URL+"'><img src='"+data.Photos[i].URL+"' class='img-style row6' alt=''><span class='zoom-icon'></span></a></div></div>";

    	photoGridForm += "<div class='col-md-4 gallery-grid'><div class='gallery-grd'><a class='swipebox' href='"+data.Photos[i+1].URL+"'><img src='"+data.Photos[i+1].URL+"' class='img-style row6' alt=''><span class='zoom-icon'></span></a></div></div>";

    	photoGridForm += "<div class='col-md-4 gallery-grid'><div class='gallery-grd'><a class='swipebox' href='"+data.Photos[i+2].URL+"'><img src='"+data.Photos[i+2].URL+"' class='img-style row6' alt=''><span class='zoom-icon'></span></a></div></div>";

    	photoGridForm += "<div class='clearfix'></div></div>";

    	parent = document.getElementById('photoscontainer');
	  	parent.insertAdjacentHTML('beforeend', photoGridForm);//child added.
    }
    $(".swipebox").swipebox();
    console.log("done");
});
</script>
    </head>
<body>
<!--header-->
	<div class="header head-top">
		<div class="container">
			@Html.Partial("_MainMenu")
			</div>
	</div>
	<!--header-->
	<!---728x90--->

	<div class="content">
				<!--wedding-->
		<div class="wedding-section">
		<div class="container" id="photoscontainer">
			<h2>An invitation for inauguration of Reshimgathi</h2><a href="/Base/Photos"><span class="label label-danger">Back To Photos...</span></a>
			<!-- Add Events Photos to container dynamically.-->
			
			</div>
			</div>

				</div>
    <!-- footer starts -->
    @Html.Partial("_Footer")
    <!-- footer Ends -->
<script type="text/javascript">
$(".swipebox").swipebox();
</script>		
</body>
</html>
