@{
    ViewBag.Title = "Events";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>रेशीमगाठी मराठा वधु-वर सुचक केंद्र</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="My Wedding Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    @Styles.Render("~/Base/css")
    @Scripts.Render("~/Base/js")
</head>
<body>
<!--header-->
	<div class="header head-top">
		<div class="container">
			@Html.Partial("_MainMenu");
			</div>
	</div>
	<!--header-->
	<!--services-->
	<!---728x90--->

		<div class="content">
			<!---728x90--->
				<div class="professional">
					<div class="container">
						<h3>Upcoming Events</h3>
							<div class="professional-grids">
   							<div class="col-md-4 professional-grid">
								      <img src="https://s3.amazonaws.com/reshimgathiaws06live/Images/events/Letter01.jpg" class="img-responsive" alt="" />
   							</div>
   							<div class="col-md-4 professional-grid1">
   								<h4>रेशीमगाठी वधू वर सुचक मेळावा : 3-Feb-2019</h4>
   								<p><b>रेशीमगाठी मराठा वधु-वर सुचक केंद्र </b><br>
                    <b>* स्थळ :</b> साधना  मंगल कार्यालय, साखर कारखाना रोड,अंबाजोगाई <br>
                    <b>*  दिनांक :</b> रविवार 3 फेब्रुवारी 2019, सकाळी 10 ते 5 <br>
                     या मेळाव्यामध्ये मराठा समाजातील उद्योजक, अधिकारी, डॉक्टर, इंजिनीयर,प्राध्यापक, वकील,शिक्षक, कॉम्प्युटर पदवीधर, उच्च पदविधर, कर्मचारी, सुशिक्षीत, व्यावसाईक 
                    तसेच शेतकरी वधू-वरांना सहभागी होता येईल.  <br>
                    रेशीमगाठी मराठा वधू-वर केंद्राकडे आलेल्या सर्व बायोडाटाची माहिती पुस्तिका कार्यक्रमस्थळी स्टॉलवर उपलब्ध असेल.
                    इच्छित स्थळे शोधताना पालकांना लागणारा वेळ व मानसिक ताण व पैशाचा अपवय कमी होईल या हेतूने आपल्या अपेक्षे प्रमाणे जिवन साथीची निवड करणे सोपे होईल. <br>
                    * मराठा समाजातील वधू-वरांसाठी नांव नोंदणीची व्यवस्था केली आहे. <br>
                    * नाव नोंदणी साठी (कलर) बायोडाटा, 2 फोटो, आधारकार्ड झेरॉक्स
                    प्रत, मंडळाकडे पाठवून नोंदणी करावी. <br>
                    * मेळाव्यास प्रती व्यक्ती फक्‍त 100/- रु प्रवेश शुल्क असुन यामध्येच चहा व भोजनाची व्यवस्था केलेली आहे.</p>
   							</div>
                <div class="col-md-4 professional-grid">
                      <img src="https://s3.amazonaws.com/reshimgathiaws06live/Images/events/Letter02.jpg" class="img-responsive" alt="" />
                </div>
   					  <div class="clearfix"> </div>
   				  </div>
   			</div>	
		</div>	 
		<!---728x90--->
	</div>
<!--typography-page-->
    <!-- footer starts -->
    @Html.Partial("_Footer");
    <!-- footer Ends -->
</body>
</html>