@{
    ViewBag.Title = "ChangePassword";
}
<!DOCTYPE HTML>
<html>
<head>
    @Html.Partial("_Head")
</head>
<body>
    <!--header-->
    @Html.Partial("_PostLoginChildNavBar")
    <!--header-->
    <div class="container">
        <div class="col-12 col-md-12">
            <form class="form-signin" style="width: 100%;max-width: 420px;padding: 15px;margin: auto;">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
                </div>
                <div class="form-label-group">
                    <input type="password" id="CurrentPassword" class="form-control" placeholder="Current Password" required="" autofocus="">
                    <br />
                    <input type="password" id="NewPassword" class="form-control" placeholder="New Password" required="" autofocus="">
                    <br />
                    <input type="password" id="ConfirmPassword" class="form-control" placeholder="Confirm Password" required="" autofocus="">
                </div>
                <br />
                <button onclick="alert('Change password is in progress.');" class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #0062cc;">Change Password</button>
            </form>
        </div>
    </div>
    <!-- footer starts -->
    @Html.Partial("_Footer")
    <!-- footer Ends -->
</body>
</html>





